header.main-header
  nav.main-nav
    li.main-nav__item
      a.main-nav__link(href="")
    li.main-nav__item
      a.main-nav__link(href="#")
    li.main-nav__item
      a.main-nav__link(href="#")
    li.main-nav__item
      a.main-nav__link(href="#")
    li.main-nav__item
      a.main-nav__link(href="#")
    li.main-nav__item
      a.main-nav__link(href="#")
    li.main-nav__item
      a.main-nav__link(href="#")
    li.main-nav__item
      a.main-nav__link(href="#")
