header.main-header
  nav.main-nav
    ul.main-nav__list
      li.main-nav__item
        a.main-nav__link(href="") about
      li.main-nav__item
        a.main-nav__link(href="#") about1
      li.main-nav__item
        a.main-nav__link(href="#") about2
      li.main-nav__item
        a.main-nav__link(href="#") about3
      li.main-nav__item
        a.main-nav__link(href="#") about4
      li.main-nav__item
        a.main-nav__link(href="#") about5
      li.main-nav__item
        a.main-nav__link(href="#") about6
      li.main-nav__item
        a.main-nav__link(href="#") about7
