doctype
html(lang='en').page
  include blocks/head
  block vars
  title #{title}
  body.page__body
    .container
      block header
      block main
      block footer
      include ../helpers/common
