extends ../layout/index.pug

block header
  include ../layout/sections/header

block main
 section.main-section
    .section-wrapper
      h2.secondary-heading Calculators
      p.primary-text numbers
    include ../layout/tabs/tabs

block footer
  include ../layout/sections/footer
