.calculator-one
  p Number one
  input(type='text' id='n1')
  p Number two
  input(type='text' id='n2')
  .calculator-one__buttons
    button(type='button' onclick='plus()').btn-calc +
    button(type='button' onclick='substract()').btn-calc -
    button(type='button' onclick='multiply()').btn-calc X
    button(type='button' onclick='division()').btn-calc \

  p#out Result
