.calculator-three
  .calculator-three__buttons
    .stadart-simple
      div(onclick="").item.input 0
      .wrapper
        div(onclick="clean()").item.clean C
        div(onclick="back()").item.back &larr;

    .upstandart-calc
      div(onclick="f('deg')").item.type deg
      div(onclick="f('sin')").item sin
      div(onclick="f('cos')").item cos
      div(onclick="f('tan')").item tan
      div(onclick="f('ctg')").item ctg

      div(onclick="constant('pi')").item &#960;
      div(onclick="constant('e')").item &#101;

      div(onclick="operation('^')").item x
        span.upper y
      div(onclick="operation('pow-2')").item x
        span.upper 2
      div(onclick="operation('pow-1')").item x
        span.upper -1
      div(onclick="log('lg')").item lg
      div(onclick="log('ln')").item ln
      div(onclick="insert('(')").item &#40;
      div(onclick="insert(')')").item &#41;
      div(onclick="operation('sqrt')").item &#8730;

      div(onclick="percent()").item.percent &#37;
      div(onclick="fact()").item x!
      div(onclick="").item 1/x


    .standart-calc
      div(onclick="insert('+')").item.plus &#43;
      div(onclick="insert('-')").item.substract &#45;
      div(onclick="insert('*')").item.multiply &#215;
      div(onclick="insert('/')").item.devide &#47;
      div(onclick="insert('7')").item &#55;
      div(onclick="insert('8')").item &#56;
      div(onclick="insert('9')").item &#57;
      div(onclick="insert('4')").item &#52;
      div(onclick="insert('5')").item &#53;
      div(onclick="insert('6')").item &#54;
      div(onclick="insert('1')").item &#49;
      div(onclick="insert('2')").item &#50;
      div(onclick="insert('3')").item &#51;
      div(onclick="insert('0')").item.zero &#48;
      div(onclick="insert('.')").item &#46;
    div(onclick="equal('=')").item.equal &#61;
