.tabs
  ul.tabs__wrapper
    li.tabs__tab.active
      button(type='button').tabs-link privet1
    li.tabs__tab
      button(type='button').tabs-link privet2
    li.tabs__tab
      button(type='button').tabs-link privet3
    li.tabs__tab
      button(type='button').tabs-link privet4
    li.tabs__tab
      button(type='button').tabs-link privet5
  .tabs__contnent-wrapper
    .tabs__content.active
      p.tabs__text popup
    .tabs__content
      p.tabs__text popup2
    .tabs__content
      p.tabs__text popup3
    .tabs__content
      p.tabs__text popup4
    .tabs__content
      p.tabs__text popup5
