.tabs
  ul.tabs__wrapper
    li.tabs__one.active
      a.tabs-link privet1
    li.tabs__two
      a.tabs-link privet2
    li.tabs__three
      a.tabs-link privet3
    li.tabs__four
      a.tabs-link privet4
    li.tabs__five
      a.tabs-link privet5
  .tabs__content-one.active
    p.tabs__text popup
  .tabs__content-two
    p.tabs__text popup2
  .tabs__content-three
    p.tabs__text popup3
  .tabs__content-four
    p.tabs__text popup4
  .tabs__content-five
    p.tabs__text popup5
